{% extends 'base.html' %}
{% load time_filters %}

{% block title %}Trip Routes{% endblock %}

{% block content %}
{% for triproute in triproute_list %}
<div>
    <a href="{{ triproute.get_absolute_url }}">{{ triproute.trip }}</a>
    <span>{{ triproute.route }} </span>
    <p>Distance: {{ triproute.route.distance_km }} km</p>
    <p>Actual Time: {{ triproute.actual_time_min|minutes_to_hours }}</p> {# Convert minutes #}
    <p>{{ triproute.trip.driver }}</p>
</div>
<a href="{% url 'triproute_edit' triproute.pk %}">Edit</a>
<a href="{% url 'triproute_delete' triproute.pk %}">Delete</a>
<hr>

{% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>Trip ID</th>
            <th>Truck</th>
            <th>Driver</th>
            <th>Route</th>
            <th>Duration (min)</th>
        </tr>
    </thead>
    <tbody>
        {% for trip_route in trip_routes %}
        <tr>
            <td>{{ trip_route.trip.id }}</td>
            <td>{{ trip_route.trip.truck }}</td>
            <td>{{ trip_route.driver }}</td>
            <td>{{ trip_route.route.origin }} to {{ trip_route.route.destination }}</td>
            <td>{{ trip_route.actual_time_min|default:"-" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<p><a href="{% url 'triproute_new' %}">+ New</a></p>
{% endif %}
{% endblock %}