{% extends 'base.html' %}

{% block title %}Drivers{% endblock %}

{% block content %}
{% for driver in driver_list %}
<div>
    <a href="{{ driver.get_absolute_url }}">{{ driver.name }} | Contact: {{ driver.contact }}</a>
    <span>{{ driver.license_number }}</span> <span>{{ driver.assigned_truck }}</span>
</div>
<a href="{% url 'driver_edit' driver.pk %}">Edit</a>
<a href="{% url 'driver_delete' driver.pk %}">Delete</a>
<hr>

{% endfor %}
{% if user.is_authenticated %}
<p><a href="{% url 'driver_new' %}">+ New</a></p>
{% endif %}
{% endblock %}