{% extends "base.html" %}

{% block content %}
<div class="trip">
    <h2>{{ object.truck }} with {{ object.driver }} scheduled {{ object.departure_time }}</h2>
    <p>By: {{ object.clerk }}</p>
    <p>Status: {{ object.status }}</p>
    {% if trip.status == "Completed"%}
    <p>Arrived: {{ object.arrival_time }}</p>
    {% endif %}
</div>
<div>
    <p><a href="{% url 'trip_edit' trip.pk %}">Edit</a>
        <a href="{% url 'trip_delete' trip.pk %}">Cancel</a>
    </p>
    <p>Back to <a href="{% url 'trip_list' %}">All Trip</a>.</p>
</div>
{% endblock content %}