{% extends "base.html" %}

{% block content %}
<div class="trip">
    <h2>{{ object.truck }}, {{ object.driver }} scheduled {{ object.departure_time }}</h2>
    <p>Trip ID: {{ object.id }}</p>
    <p>By: {{ object.clerk }}</p>
    <p>Status: {{ object.status }}</p>
    {% if trip.status == "Completed"%}
    <p>Arrived: {{ object.arrival_time }}</p>
    {% endif %}
</div>
<div>
    <h2>Trip Products</h2>
    {% if tripproducts %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
        {% for product in tripproducts %}
        <tr>
            <td>{{ product.product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.unit }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No products assigned to this trip yet.</p>
    {% endif %}
</div>
<div>
    <br>
    <a href="{% url 'trip_edit' trip.pk %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'trip_delete' trip.pk %}" class="btn delete-btn">Delete</a>
    <br>
    <br>
    <button id="back-btn" onclick="history.back()" class="back-btn btn btn-secondary">← Back</button>
</div>

<style>
    .delete-btn:hover {
        background-color: red !important;
    }

    .btn {
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        margin-right: 8px;
    }
</style>
{% endblock content %}