{% extends "base.html" %}
{% load user_groups %}

{% block content %}
<div class="truckcompany-entry">
    <h2>{{ object.name }}</h2>
    <h4>Contact Details</h4>
    <p>Tel: {{ object.contact }}</p>
    <p>email: {{ object.email }}</p>
    <p>Address: {{ object.address }}</p>
</div>
<div>
    <br>
    {% if user|is_manager %}
    <a href="{% url 'truckcompany_edit' truckcompany.pk %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'truckcompany_delete' truckcompany.pk %}" class="btn btn-secondary delete-btn">Delete</a>
    </p>
    {% endif %}
    <br>
    <button id="back-btn" onclick="history.back()" class="back-btn btn btn-secondary">← Back</button>
</div>
{% endblock content %}