{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
{% for product in product_list %}
<div>
    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
    <p>{{ product.description }}</p>
    <p>{{ product.category }}</p>
</div>
<!-- <a href="{% url 'product_edit' product.pk %}">Edit</a> -->
<!-- <a href="{% url 'product_delete' product.pk %}">Delete</a> -->
<hr>

{% endfor %}
{% if user.is_authenticated %}
<p><a href="{% url 'product_new' %}">+ New</a></p>
{% endif %}
{% endblock %}